@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
        width: 70%;
    }

    textarea {
        margin-left: 20%;
        width: 450px;
        height: 150px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 2.4rem;
        width: 80%;
    }

    textarea {
        margin-left: 10%;
        width: 250px;
        height: 100px;
    }

    p, span {
        font-size: 1.5rem;
    }
}