body {
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    height: 87.8vh;
}

h1, p, span {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h1 {
    font-size: 1.3rem;
    width: 70%;
    margin: 20px auto 10px;
}

textarea {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #0e0e0e;
    outline: none;
    margin-left: 30.5%;
    width: 130px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 0.5rem;
    text-decoration: none;
    resize: none;
    transition: 0.5s ease-in-out;
}

textarea::selection {
    background-color: #30E8BF;
}

textarea:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p, span {
    font-size: 0.4rem;
    margin-top: 10px;
}

span {
    color: #f86f1a;
}
